<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assert/css/furama.css">
    <link rel="stylesheet" href="../assert/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{/index::header}"></div>
<h1>Edit Employee</h1>
<form th:action="@{/edit}" th:object="${employee}" method="post">
    <input th:type="hidden" name="employeeId" th:field="*{employeeId}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{employeeName}" minlength="1" maxlength="50"/></td>
            <td th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" class="error">Name Error</td>
        </tr>
        <tr>
            <td>BirthDay</td>
            <td><input type="date" th:field="*{employeeBirthday}"/></td>
            <td th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}" class="error">Name
                Error
            </td>
        </tr>
        <tr>
            <td>Id Card</td>
            <td><input type="number" th:field="*{employeeIdCard}"/></td>
            <td th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}" class="error">Name Error
            </td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="number" th:field="*{employeeSalary}"/></td>
            <td th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}" class="error">Name Error
            </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="number" th:field="*{employeePhone}"/></td>
            <td th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}" class="error">Name Error</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{employeeEmail}" minlength="1" maxlength="50"/></td>
            <td th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}" class="error">Name Error</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{employeeAddress}" minlength="1" maxlength="50"/></td>
            <td th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}" class="error">Name
                Error
            </td>
        </tr>
        <tr>
            <td>Employee's position</td>
            <td>
                <select th:field="*{position}">
                    <option th:each="c : ${listPosition}" th:value="${c.positionId}"
                            th:text="${c.positionName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Employee's Education Degree</td>
            <td>
                <select th:field="*{educationDegree}">
                    <option th:each="e : ${listDegree}" th:value="${e.educationDegreeId}"
                            th:text="${e.educationDegreeName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Employee's Division</td>
            <td>
                <select th:field="*{division}">
                    <option th:each="di : ${listDivision}" th:value="${di.divisionId}"
                            th:text="${di.divisionName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>UserName</td>
            <td><input type="text" th:field="*{user.userName}" minlength="1" maxlength="10" required/></td>
            <td th:if="${#fields.hasErrors('user.userName')}" th:errors="*{user.userName}" class="error">Name Error</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{user.password}" minlength="1" maxlength="10" required/></td>
            <td th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" class="error">Name Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
<script src="../assert/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>